.d-block {
    display: block;
}
hr {
    background: #1A1A1A;
    display: block;
    height: 1px;
    margin: 3.5em 20px;
    overflow: hidden;
}
.react-count-block {
    display: flex;
    font-size: 25px;
}
.react-count-int {
    margin-left: 1rem;
    font-size: 25px;
    color:red;
}
h2 {
    margin-left: 1rem;
}